{% extends "main/header.html" %}
{% block content %}
<h2>Main Page</h2>
<h3>HiSeq2500 HT Sequencing</h3>

<p>The IIGB Genomics Core facility provides a next-generation sequencing service using Illumina's HiSeq2500 platform. Combined with the latest in cluster generation and sequencing reagents, the HiSeq provides the yield of the HiSeq2000 (high yield mode) plus the ability to deliver 300bp reads (150bp paired-end) in rapid mode. It achieves this due to improved flowcell and hardware design and the ability to run two flowcells independently and simultaneously. The HiSeq2500 can generate genome, small RNA and transcriptome level sequences with unprecedented speed for a cost per cycle.</p>

<p>The most common research applications of this technology are:</p>
<ul>
<li>Whole genome sequencing/re-sequencing</li>
<li>Genome-wide detection of SNPs and mutations</li>
<li>DNA methylation profiling</li>
<li>DNA-protein interactions</li>
<li>RNA expression profiling</li>
<li>Small RNA profiling and discovery</li>
<li>ChIP sequencing</li>
</ul>

<h3>NextSeq500 Sequencing</h3>
<p>The NextSeq500 is one of the latest sequencers from Illumina. It combines the rapid sequencing times of the MiSeq with high sequence output per run. The NextSeq 500 runs one sample at a time using a one lane flowcell. However, the flowcell lane is capable of yielding 400 million+ reads per run. This means higher multiplex levels and reduced cost per base. The sequencer can provide 1x75bp, 1x150bp, 2x75bp and 2x150bp outputs. One sample per run and very rapid cycle times means no wait time to fill eight-lane flowcells and shorter sample processing times. The NextSeq500 is ideal for small or mid-sized projects with multiplexed samples.</p>

<p>The most common research applications for this instrument are similar to those of the HiSeq2500:</p>
<ul>
<li>Whole Genome sequencing/re-sequencing</li>
<li>Genome-wide detection of SNPs and mutations</li>                                                                         <li>DNA methylation profiling</li>
<li>DNA-protein interactions</li>
<li>RNA expression profiling</li>
<li>Small RNA profiling and discovery</li>
<li>ChIP sequencing</li>
</ul>

<h3>MiSeq Sequencing</h3>
<p>The IIGB Genomics Core facility also offers the Illumina MiSeq. This benchtop sequencer is provides lower yield but longer reads than the HiSeq2500 delivering up to 600bp (300bp paired end) of data. The instrument is engineered for very rapid cycle times resulting in very short run times. This instrument has many useful applications, especially including:</p>

<ul>
<li>Re-sequencing of genomes of detection of SNPs and mutations</li>
<li>Sequencing of amplicons such as rDNA or other PCR products</li>
<li>De Novo sequencing of microbial and smaller plant and animal genomes</li>
<li>Sequencing of exomes and other enriched DNA pools</li>
<li>DNA methylation profiling</li>
<li>RNA expression profiling</li>
<li>Small RNA profiling</li>
<li>ChIP sequencing</li>
</ul>

<h3>Service Overview</h3>
<p>A deep sequencing project consists of three major steps: the library synthesis, the sequencing run and the data analysis. The facility offers DNA and RNASeq sample prep services. We will soon be offering this using our Illumina Neoprep system. Many of our users construct libraries for specialized applications or to lower costs for the sequencing runs. There are numerous commercial kits available for libraries and multiplex sequencing. The Deep Sequencing team can help you choose the most appropriate preparation method for your project. The Deep Sequencing Protocol page provides detailed information about the library types and their synthesis with kits from Illumina. The actual sequencing with the HiSeq2500 is performed by our staff in the IIGB Genomics Core facility. To submit libraries, please follow the instruction on the Sample Submission page. The available bioinformatics services for the downstream data analysis are described on the Data Analysis page.</p>

<p><b>Contacts</b></p>

<p><b>Genomics (Libraries, HiSeq2500, NextSeq500, MiSeq)</b></p>
<ul>
<li>Glenn Hicks, Director, IIGB Research Facilities</li>
<li>Holly Eckelhoefer, Staff Research Associate</li>
<li>Clay Clark, Staff Research Associate</li>
</ul>

<p><b>Bioinformatics</b></p>
<ul>
<li>Neerja Katiyar, Bioinformatics Analyst</li>
</ul>

{% include 'main/includes/htmlsnippet.html' %}
{% endblock %}
