{% extends "main/header.html" %}
{% block content %}

<h2>Latest News!</h2>
 
<b><p>News Item UCR adds PacBio RSII</b>
Coming by the end of this year the Genomics Core will house a PacBio RSII long read sequencer. This sequencer will permit read lengths exceeding 10Kb. Look for more updates as we progress with this project.</p>

<b><p>News Item UCR adds the NEXTSeq 500!</p></b>
<p>UCR has added the NextSeq500 to its facilities in addition to the MiSeq and HiSeq. The NextSeq runs one sample at a time but is very fast and offers up to 400 million reads. This should decrease our processing times especially for run types that are not frequently run. we will be adding more details about the sequencer soon. You can find info at http://www.illumina.com/systems/nextseq-sequencer.html. Pricing is not finalized yet so please inquire for costs. The instrument will run 1x75, 1x150, 2x75, 2x150 (400 mil reads max) or 1x150, 2x75 and 2x150 (mid output 130 mil reads max).
</p>

{% include 'main/includes/htmlsnippet.html' %}
{% endblock %}
