{% extends "main/header.html" %}
{% block content %}
<h3>Projects and Flowcells</h3>
<ul style="list-style-type:square">
  <li><font size="2"><a href="http://127.0.0.1:8000/projects/">View and Submit Projects</a></font></li>
  <li><font size="2">Download Project Data</font></li>
  <li><font size="2"><a href="http://127.0.0.1:8000/projects_and_flowcells_submit/">View and Submit Flowcells</a></font></li>
  <li><font size="2">View Flowcell QC Reports</font></li>
  <li><font size="2">View All Samples</font></li>
</ul>
{% endblock %}
