{% extends "main/header.html" %}
{% block content %}
<h2>Workshops</h2>

<h3>Seminar Workshop on MiSeq</h3>
<p>This workshop on Feb 11, 2014 was to introduce the Illumina MiSeq. The content included the latest applications of the MiSeq and sample preparation for both the HiSeq and MiSeq. In addition, comparisons between the MiSeq, HiSeq and NextSeq were presented.  It was attended by more than 100 people.</p>

Slideshow PDFs:URC_MiSeq Sample_Prep_feb2014_product_update_UCR.pdf

<h3>Workshops on Sequencing Experiments</h3>
Slideshow PDFs: SolexaIntro1 SolexaIntro2

<p>Description: This workshop is to introduce first-time users to our Solexa sequencing facility. The workshop will be targeted to novices and will include:</p>
<ul>
<li>basic information about Solexa sequencing technology</li>
</li>sample submission process and results</li>
</li>additional data analysis services</li>
</ul>
<p>Date: Check back for future dates</p>

<h3>Data Analysis Workshops</h3>

<p>All data analysis workshops are posted on the Bioinformatics Workshop page.</p>

{% include 'main/includes/htmlsnippet.html' %}
{% endblock %}
