{% extends CMS_TEMPLATE %}
{% load cms_tags menu_tags sekizai_tags %}



{% block content %}
{% if has_permission %}
<style>
  label {
    font-weight: bold;
  }
</style>

<h2>Project #{{project_id}}</h2>
<form id="main-form">
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" name="name" id="nameInput" value="{{project.name}}">
  </div>
  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control" name ="email" id="emailInput" value="{{project.email}}">
  </div>
  <div class="form-group">
    <label for="titleField">Title</label>
    <input type="text" class="form-control" name="title" id="titleField" value="{{project.title}}">
  </div>
  <div class="form-group">
    <label for="phoneInput">Phone Number</label>
    <input type="text" class="form-control" name="phone" id="phoneInput" value="{{project.phone}}">
  </div>
  <div class="form-group">
    <label for="piInput">PI</label>
    <input type="text" class="form-control" name="pi" id="piInput" value="{{project.pi}}">
  </div>

  <div class="form-group">
    <label for="billingInput">Billing Account</label>
    <input type="text" class="form-control" name="billing_account" id="billingInput" value="{{project.billing_account}}">
  </div>

  <div class="form-group">
    <label for="departmentInput">Department</label>
    <input type="text" class="form-control" name="department" id="departmentInput" value="{{project.department}}">
  </div>

  <div class="form-group">
    <label for="statusInput">Status</label>
    <input type="text" class="form-control" name="status" id="statusInput" value="{{project.status}}">
  </div>

  <div class="form-group">
    <label for="timeInput">Time</label>
    <input type="time" class="form-control" name="time" id="timeInput" value="{{project.time | time:'H:i:s'}}">
  </div>

  <div class="form-group">
    <label for="dateInput">Date</label>
    <input type="date" class="form-control" name="date" id="dateInput" value="{{project.date | date:'Y-m-d'}}">
  </div>

  <div class="form-group">
    <label for="statusArea">Status</label>
    <textarea class="form-control" id="statusArea" rows="3">{{project.status}}</textarea>
  </div>

  {% csrf_token %}

  <button type="submit" class="btn btn-primary" id="update-btn">Update</button>
</form>

{% block "js" %}
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script>
$(function() {
  $('#main-form').submit(function(evt) {
    evt.preventDefault()
    $.ajax({
      url: '/api/projects/{{project_id}}',
      method: 'PUT',
      data: $('#main-form').serialize(),
      success: function (data) {
        console.log(data)
      }
    })
  })
})
</script>
{% endblock "js" %}

{% else %}
Invalid flowcell.
{% endif %}
{% endblock content %}
